<%- include('../partials/header') %>
  <h1><%= question.title %></h1><hr>
  <p><%= question.description %></p>
  <p><strong>Created At :</strong><%= question.createdAt %></p><br>
  <a href="/questions">Back</a>
<%- include('../partials/footer') %>
